<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
<!--
    <coverage
        cacheDirectory="./tests/coverage"
    >
        <include>
            <directory suffix=".php">src/di</directory>
        </include>
        <exclude>
            <file>src/di/Container_old.php</file>
        </exclude>

        <report>
            <html outputDirectory="tests/coverage"/>
        </report>
    </coverage> -->

    <filter>
        <whitelist>
            <directory>src/di</directory>
        </whitelist>
    </filter>
</phpunit>

